@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');



*{
    margin: 0;
    padding: 0;

}

body{
    background-image: linear-gradient(to top, #6ff7e8, #1f7ea1, no-repeat);
}

h1{
    text-align: center;
    font-family: 'Kelly Slab', cursive;
}
#textH1-top{
    font-size: 28px;
    font-weight: bold;
}

#textH1-bottom{
    font-size: 21px;
}

nav {
    background: -webkit-linear-gradient(45deg, #243748 0%, #254f74 45%, #327ecf 100%);
    height: 150px;
}
.imgLogo{
    margin: 10px 20px 0px 20px;
    height: 130px;
    cursor: pointer;
}

.imgLogo-cont{
    float:left;
}

.Text-Nav{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}